# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production & Build outputs
dist/
dist-ssr/
dev-dist/
build/
*.local
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Editor & OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/*
!.vscode/extensions.json
.idea/

# Dexie / DB temp
*.db
